<strong>Recover Password</strong>

<p>One Request for recover  password was requested({{  email }}).If you have not request this password request, please make sure your change your password.</p>
<p>To continue in recover your password, use the token{{ token}} or click on the link below.</p>

{{--  frontend  --}}
<a href="{{ link }}">Create new Password</a>
